monitor_rom = 2732_MMS84A_MagnoliaMMS.BIN
sw501 = 00000000
slot_p504 = MMS77316
mms77316_drive5 = FDD_5_25_DS_ST
mms77316_drive6 = FDD_5_25_DS_ST
mms77316_drive7 = FDD_5_25_DS_ST
mms77316_disk5 = mmscpm64kds.mmsdisk rw
mms77316_disk6 = blank5ddds.mmsdisk rw
mms77316_disk7 = invaders.mmsdisk rw
#h19_font_size = 30
#h19_font_color = e0d524
h19_beep = h19beep250.wav
h19_beep_volume = 30
h89_nameplate = none
